.FinanceItemAddBlock {
  display: flex;
  justify-content: space-between;
  margin-bottom: 3px;
  height: 24px;
  line-height: 24px;
}
.FinanceItemAddBlock input {
  padding: 3px;
}
.FinanceItemAddBlock label {
  margin-right: 5px;
}