.CellWrapper {
  padding: 1px;
}

.Cell {
  display: inline-block;
  border: 1px solid transparent;
  outline: none;
  background-color: transparent;
  position: relative;
}

.Cell.active {
  background-color: #aaa;
  border-color: #ccc;
}
.Cell.active:active {
  transform: translate(1px, 1px);
}

.Cell.hasItem::after {
  content: 'O';
  display: inline;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  font-weight: bold;
}