.FinanceItem {
  display: flex;
  border-bottom: 1px solid #eee;
  margin-bottom: 5px;
}
.FinanceItem .FinanceItemName {
  flex-grow: 1;
}
.FinanceItem .FinanceItemCost {
  margin-right: 3px;
}
.FinanceItem .RemoveItemBtn {
  border: none;
  outline: none;
  background: url(./ic-remove.png) 50% 50% no-repeat;
  background-size: auto 70%;
  cursor: pointer;
  width: 20px;
  height: 20px;
  font-size: 0;
}
.FinanceItem .RemoveItemBtn:active {
  background-size: auto 65%;
}